<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>:(</h1>
        <p>Are you sure that you want to delete your account?</p>
        <a href="/users/delete" class="btn btn-danger btn-block mb-2">Yes</a>
        <a href="/dashboard" class="btn btn-primary btn-block mb-2">Back</a>
      </div>
    </div>
  </div>